<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dvp.base.fenwu.yunjicuo"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <application
        android:name=".common.CommonApp"
        android:allowBackup="true"
        android:icon="@mipmap/yunjicuo_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".common.pictureselect.ui.activity.MultiImageListActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".common.pictureselect.ui.activity.MultiImageSelectorActivity"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".common.pictureselect.ui.activity.MultiImageZoomActivity"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ui.teacher.GuanLiBanJActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.AddBanjiActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.GuanLiLianXiCeActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.BanJCuoTiBenActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.AddBanJLianXiCeActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.BuZhiZuoYeActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.GuanLBJXiuGaiActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.SouSuoBanjActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.GuanLXueShengActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.CuoTiKuActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.FenCeCuoTiListActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.CuoTiLieBiaoInfoActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.XiTiXiangQingActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.WoDShuJActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.AddWDSJActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.StuWoDCTBActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.StuCuoTiLieBiaoActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.AddWDCTBActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.StuGuanLiWDBJActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.StuWDZYListActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.StuDaAnChaXunActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.StuDaAnDisplayActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.StuWDBJCuoTiKuActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.AddBuZhiZuoYeActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.BuZhiZuoYeXiTInfoActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.StuCuoTiInfoActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.StuPanJuanListActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.SignUpActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.teacher.BanJCuoTBCuoTiTongJActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.StuWDBJCuoTTJActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.TongJDisplayActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.StuWDBJAddCuoTKActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.student.StuCuoTPaiZhaoActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.ForgetPswActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.ResetPswActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.NewLoginActivity"
                  android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".common.ui.UpdateDialogActivity"
                  android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".common.ui.DownloadDialogActivity"
                  android:screenOrientation="portrait"
            ></activity>

        <service android:name=".common.service.UpdateService"
                 android:enabled="true"
                 android:exported="true"
            ></service>

        <service android:name=".common.service.NetworkStateService"
                 android:enabled="true"
                 android:exported="true"
            ></service>
    </application>

</manifest>